@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');

:root{
    --font-main-color: #ffff;
    --font-family-1:'Barlow Condensed';
    --font-family-2:'Bellefair';
    --font-family-3:'Barlow';
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*-- header --*/
header{
    position: relative;
    height: 667px;
    background-image: url('/starter-code/assets/home/background-home-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__tagline{
    margin-top: 3em;
    margin-bottom: 5em;
}
.header__heading{
   background-color: var(--font-main-color);
   width: 9.4em;
   height: 9.4em;
   border-radius: 90px;

   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}
.header__heading > h1{
    color: black;
    font-family: var(--font-family-2);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 22.92px;
    text-align: center;
}

/*-- navigation --*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__lists{
    position: absolute;
    right: 0;
    top: 0;
    width: 15.9em;
    height: 100%;
    display: flex;
    z-index: 999;
    flex-direction: column;
    transition: width 200ms;
    background-color: transparent;
    backdrop-filter: blur(81.55px);
}
.nav__link{
    color: var(--font-main-color);
}

.nav__list{
    display: flex;
    font-size: 1rem;
    font-family:var(--font-family-1);
    font-weight: 400;
    letter-spacing: 2.7px;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.nav__close{
    margin-block: 2em 3em;
    margin-left: auto;
    margin-right: 2em;
}
ul li a {
    color: var(--font-main-color);
}
li a span{
    color: var(--font-main-color);
    font-size: 1rem;
    font-family:var(--font-family-2);
    font-weight: bold;
    letter-spacing: 2.7px;
}
/*-- helper --*/
.inline-space{
    padding-inline: 1.5rem;
}
.block-space{
    padding-block: 1.5rem;
}

.hide{
    overflow: hidden;
    width: 0;    
}
.point{
    cursor: pointer;
}
.text{
    color: var(--text-main-color);
}
.sub-heading{
    color: var(--font-main-color);
    font-family: var(--font-family-1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
    letter-spacing: 2.7px;
}
.main-heading{
    color: var(--font-main-color);
    font-family: var(--font-family-2);
    font-size: 5rem;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
}
.content{
    color: var(--font-main-color);
    font-family: var(--font-family-3);
    font-weight: 400;
    font-size: .9rem;
    line-height: 25px;
    text-align: center;
}
